* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
    padding: 0 4rem;
    border:20;
    border-radius: 250px;
}

body {
	background: #f4f4f4;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.6;
}

@media only screen and (max-width: 600px) {
  .container{
    margin: 1rem auto;
	overflow: auto;
	padding: 0 2rem;
  }
}

.container {
	max-width: 650px;
	margin: 1rem auto;
	overflow: auto;
	padding: 0 2rem;
}

h1 {
	color: #777;
	margin-top: 15px;
}

h3 {
	margin-bottom: 10px;
}

img {
	width: 100%;
}

.message {
	text-align: center;
	padding: 5px;
	border: #ccc dotted 2px;
	margin-top: 2rem;
}

.logo {
	width: 300px;
	display: block;
	margin: auto;
}

.form-group {
	margin: 1rem 0;
}

input,
select,
textarea {
	display: block;
	width: 100%;
	padding: 0.4rem;
	font-size: 1.2rem;
	border: 1px solid #ccc;
	border-radius: 25px;
}

.btn {
	display: block;
	width: 100%;
	background:#5D3FD3;
	color: #333;
	padding: 10px 20px;
	border: 5px;
	border-radius: 25px;
	cursor: pointer;
	outline: none;
	margin-top: 1rem;
}

.btn-form {
	display: block;
	width: 100%;
	background:  #5D3FD3;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	outline: none;
	margin-top: 1rem;
}

details {
    display: block;
	width: 100%;
	background: #5D3FD3;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	outline: none;
	margin-top: 1rem;
}

p.post {
    display: block;
	width: 100%;
	background: #ADD8E6;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	outline: none;
	margin-top: 1rem;
	font-size: 1.5rem;

}

textarea{
 resize: none;
}