<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Success</title>
</head>
<body>
<div class="container">
    <h1>Welcome to plant disease detection</h1>
     {% if image %}
    <img src="../static/{{image|safe}}" alt="leaf_image" width="300" height="400"><br>
    <p class="message"><b>Plant:{{plant}}<b><br>
        <b>Disease:{{disease}}<b>
    </p>
    {% endif %}
    <h2>Upload a picture of a leaf</h2>
    <form action="/prediction" method="post" enctype=multipart/form-data>
        <input type=file class="btn-form" name=file>
        <input type=submit class="btn-form" value=Predict!>
    </form>
</div>
</body>
</html>